.home-top-banner {
  background-image: url("https://images.unsplash.com/photo-1506846540181-347008948fff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1193&q=80");
  padding: 167px 180px;
  background-position: center;
  @include mobile {
    padding: 254px 0 80px 15px;
  }
}

.home-ticket {
  display: flex;
  margin-bottom: 20px;
  img {
    width: 350px;
    height: 350px;
    object-fit: cover;
  }
}

.home-ticket-sm {
  display: none;
}

@include mobile {
  .home-ticket {
    display: none;
  }
  .home-ticket-sm {
    display: flex;
    flex-direction: column;
    img {
      height: 345px;
      object-fit: cover;
      margin: 0 auto;
    }
  }
}

.home-live-stream {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/people2.png");
  & > div {
    padding: 40px 24px;
    background-color: #190014cc;
    width: 445px;
  }
  @include mobile {
    & > div {
      width: 100%;
    }
  }
}

.home-recommendation-list {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  @include mobile {
    flex-direction: column;
    justify-content: center;
  }
}

.home-recommendation-item1 {
  img {
    width: 350px;
  }
}

.home-recommendation-item2 {
  img {
    width: 250px;
    @include mobile {
        width: 350px;
      }
  }
  
}

.home-recommendation-item1,
.home-recommendation-item2 {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  img {
    height: 350px;
    object-fit: cover;
  }
  @include mobile {
      margin-bottom: 16px;
    }
  }



