.textarea-relpy{
    width: 100%;
    height: 168px;
    border:none;
    resize: none;
    font-family: 'Roboto Mono';
    &::placeholder{
        color: $secondary;
    }
    &:focus{
        outline: none;
    }

    &:active{
        outline: none;
    }
}

.selection{
border: 1px $secondary solid;
border-radius: 4px;
padding: 16px;
}