

.modal-card{
width: 480px;
padding: 32px;
display: flex;
flex-direction: column;
border: 1px solid $secondary;
border-radius: 4px;
background-color: $white;
position: absolute;
top: 50%;
left: 35%;
transform: translateX(-50%);
transform: translateY(-50%);
z-index: 4;
}

.modal-card-scroll{
    width: 480px;
    height: 736px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $secondary;
    border-radius: 4px;
    background-color: $white;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    z-index: 4;
    }
