.bg-light{
    background-color: $light;
}
.bg-white{
    background-color: $white;
}

//background layer

.backgroundDarken{
    background-color: rgba(#000, 0.5);
    height: 100%;
    position: absolute; 
    left: 0px;
    top: 0px; 
    width: 100%; 
    z-index: 2;
} 