//backgrounf color 

@each $color in $color-list {
    .bg-#{$color}{
        background-color: map-get($color-map,$color);
    }
}

//background layer

.backgroundDarken{
    background-color: rgba(#000, 0.5);
    height: 100%;
    position: absolute; 
    left: 0px;
    top: 0px; 
    width: 100%; 
    z-index: 2;
} 