//flex-direction

@each $name in $break-points-list{
    @media(max-width:map-get($break-points-map,$name)){
        .flex-#{$name}-column{
            flex-direction: column;
        }
    }
}

.flex-column{
    flex-direction: column;
}
//justify-content
@each $way in $flex-list {
    .justify-content-#{$way}{
        justify-content: map-get($flex-map, $way);
    }
};



//align-items
@each $way in $flex-list {
    .align-items-#{$way}{
        align-items: map-get($flex-map, $way);
    }
};
//align-self

@each $way in $flex-list {
    .align-self-#{$way}{
        align-self: map-get($flex-map, $way);
    }
};

.flex-grow-1{
    flex-grow: 1;
}